@model EmpresaExportaciones.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center display-4">Editar Producto</h1>
            <h5 class="text-center">En esta sección se puede editar un registro</h5>
            <hr />

            <form asp-action="Edit" onsubmit="return confirm('¿Desea guardar los cambios en este producto?');" class="mx-auto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />

                <div class="form-group mb-3">
                    <label asp-for="nombre" class="control-label"></label>
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="descripcion" class="control-label"></label>
                    <input asp-for="descripcion" class="form-control" />
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="precio" class="control-label"></label>
                    <input asp-for="precio" class="form-control" />
                    <span asp-validation-for="precio" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="stock" class="control-label"></label>
                    <input asp-for="stock" class="form-control" />
                    <span asp-validation-for="stock" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="tipoDeProducto" class="control-label"></label>
                    <select asp-for="tipoDeProducto" class="form-control" asp-items="Html.GetEnumSelectList<TipoDeProducto>()">
                        <option selected="selected" value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="tipoDeProducto" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <br />
                    <input type="submit" value="Guardar" class="btn btn-azul" />
                    <a asp-action="Index" class="btn btn-azul">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
